{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>Login</title>
  <style>
      .field-wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .login-row {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  </style>
{% endblock %}
{% block content %}
<div class="basy">
  <div class="container">

                  <form name="login" method="POST" novalidate>
                    <h2>Login</h2>
                    {% csrf_token %}
                      {% for field in form %}
                          <div class="field-wrapper">
                              {{ field }}<div class="labeli">{{ field.label }} </div> 
                              
                          </div>
                          <div class="text-danger">
                            {{ field.errors }}
                            </div>
                      {% endfor %}
                    <button class="btn" type="submit">Login</button>
                      <a href="/auth/register/" class="text-center">You dont have an account? Register.</a>
              </form>
    </div>
  </div>
{% endblock %}

