body {
	background: #F5F9FF;  
}
.basy {
	margin-top: 150px;
	margin-left: 500px;
}
.field-wrapper{
	display: flex;

}

input, textarea {
	border-radius: 5px ;
	width: 300px;
	height: 30px;
	border: 1px solid #CDD9ED;
	color: #99A3BA;

	
}

input:focus, textarea:focus, select:focus {
	color: #99A3BA;
	background-color: #fff;
	border-color: #275EFE;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(90, 122, 225, 0.25); }

.field-wrapper input:focus + .labeli,
    .field-wrapper textarea:focus + .labeli, 
	.field-wrapper select:focus + .labeli {
	color: #fff;
	background-color: #678EFE;
	
  }

.labeli {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	border: 1px solid #CDD9ED;
	background-color:  #EEF4FF;
}
.btn {
	background-color:  #EEF4FF;
	color: #99A3BA;
	border-radius: 5px;
	border: 1px solid #CDD9ED;
	padding: 10px;
}

.btn:hover {
	background-color: #678EFE;
	color: #fff;
}

select {
	border-radius: 5px;
	width: 150px;
	border: 1px solid #CDD9ED;
	color: #99A3BA
}
.reg {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 30px;
	text-decoration: none;
	margin-bottom: 30px;
	background-color:  #EEF4FF;
	color: #99A3BA;
	border-radius: 5px;
	border: 1px solid #CDD9ED;
	margin-left: 50px;
}
.reg:hover {
	background-color: #678EFE;
	color: #fff;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #99A3BA;
	font-size: 16px;
    font-weight: 500;
    font-family: inherit;
	width: 500px;
}

.text-center {
	text-decoration: none;
	margin-left: 50px;
}
.card {

	 padding: 10px; width: 500px; margin-bottom: 30px; color: #99A3BA;
	border-radius: 5px; height: 200px; border: 1px solid #CDD9ED;
	background-color:  #EEF4FF;
}
.card:hover { background-color: #678dfe86; color: #F5F9FF;}
.card-group {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}
.card1 {
 padding: 10px; width: 500px; margin-bottom: 30px; color: #333843;
	border-radius: 5px; height: 350px; border: 1px solid #CDD9ED;
	background-color:  #EEF4FF;
}
